.home {
    padding: 0px 10px;
    padding-bottom: 100px;
}

.hero {
    max-width: 600px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap : 30px;
}
.hero h1 {
        font-size : 40px;
}

.hero p {
        width: 75%;
        line-height: 1.5;
}

.hero-form {
        padding : 8px;
        width: 80%;
        background-color: white;
        border-radius: 5px;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
            flex: 1;
            font-size : 16px;
            outline: none;
            border: none;
            padding-left: 10px;
            min-width: 100px;
        }

        button {
            border: none;
            background: rgb(54, 165, 130);
            color: white;
            font-size: 16px;
            padding: 10px 30px;
            border-radius: 5px;
            cursor: pointer;
        }
    }


.watchlist {
    display: grid;
    grid-template-columns: 0.0fr 6fr;
    align-items: center;

}

.add {
    max-width: 30px;
    margin: 5px 0px;
}
.remove {
    padding-left: 40%;
    max-width: 30px;
}
.add:hover , .remove:hover {
    transform: scale(1.15);
}

.add-form {
    margin : 10px auto;
    width: 80%;
    height: 35px;
    border-radius: 5px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.add-select {
    width: 80%;
    border-radius: 5px;
}

.crypto-table {
    max-width: 800px;
    margin: auto;
    background-color: rgba(65, 211, 165, 0.344) ;
    border-radius: 15px;
}

.table-layout {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
    padding: 15px 20px;
    align-items: center;
    border-bottom: 1px solid white;
    text-decoration: none;
    color: white;


    .market-cap {
        text-align: right;
    }

    img {
        max-width: 20px;
    }
    .logo-name {
        display: flex;
        gap : 5px;
        }
    .green {
        color : greenyellow;
    }
    .red {
        color : rgb(255, 93, 93);
    }
}

.table-layout:last-child {
        border:none;
}


@media (max-width: 600px){
    .table-layout {
        font-size: 12px;
        grid-template-columns: 0.5fr 2fr 1fr 1fr 1.25fr;
        padding: 7px 15px;
    img {
        width: 17px;
    }
  }
  .home .hero {
    margin : 50px auto;
}
}

@media (max-width: 480px){
    .table-layout {
        font-size: 11px;
        grid-template-columns: 0.5fr 3fr 1fr 1fr;
    .market-cap {
        display: none;
    }
    img {
        width: 17px;
    }
    .green {
        text-align: right;
    }
    .red {
        text-align: right;
    }
    }
    .hero h1 {
        font-size : 35px;
    }
    .home .hero {
        margin : 35px auto;
    }
    .home .hero button {
        margin-right: 0px;
    }
    .home .hero button {
        font-size: 70%;
        padding: 5px 10px;
        margin: auto;
    }
    .add {
        max-width: 25px;
    }
    .remove {
        padding-left: 40%;
        max-width: 25px;
    }

}
