.navbar {
    display: flex;
    align-items: center;  
    justify-content: space-between;
    padding: 20px 20px;
    border-bottom: 2px solid rgb(217, 237, 231);
    box-shadow: 0px 0px 10px 2px white;
}

.navbar .nav-link {
    color: white;
    text-decoration: none;
}

.navbar #check {
    display: none;
}

.navbar img {
    max-width: 250px;
}

.navbar .menu-icon {
    display: none;
}

.navbar ul {
    display: flex;
    gap: 38px;
    list-style: none;
}

.navbar .nav-right {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.navbar .nav-right select {
    padding: 5px 5px;
    border-radius: 6px;
    border: 2px solid white;
    background: transparent;
    color: white;
}

.navbar .nav-right option {
    background: rgb(72, 200, 160);
    color: white;
}

.navbar .nav-right button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    color: black;
    background: white;
    border: none;
    cursor: pointer;
}

.navbar .nav-right .login-btn {
    background-color: rgba(65, 211, 165, 0.694);
    color: white;
}

@media (max-width: 800px) {
    .navbar {
        padding: 20px 1px;
        justify-content: space-between;
    }

    .navbar img {
        width: 220px;
    }
    .navbar .nav-list {
        display: none;
    }

    .navbar .nav-list-res {
        border-top: 2px solid rgb(217, 237, 231);
        width: 100%;
        position: absolute;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        text-align: center;
        top: 7rem;
        left: 0;
        height: 15rem;
        background-color: rgb(48, 158, 124);
    }

    .navbar .nav-right {
        display: flex;
    }

    .navbar .menu-icon {
        display: inline-block;
        width: 60px;
        margin-right: 15px;
        cursor: pointer;
    }

    .navbar .nav-right button {
        padding: 10px 15px;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 5px 5px;
    }

    .navbar img {
        width: 140px;
    }

    .navbar .nav-list {
        display: none;
    }

    .navbar .nav-list-res {
        border-top: 2px solid rgb(217, 237, 231);
        width: 100%;
        position: absolute;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        text-align: center;
        top: 4rem;
        left: 0;
        height: 15rem;
        background-color: rgb(48, 158, 124);
    }

    .navbar .menu-icon {
        display: inline-block;
        width: 35px;
        cursor: pointer;
        margin-right: 4px;

    }
    .navbar .nav-right button {
        padding: 9px 10px;
        font-size: 0.8rem;
        gap: 5px;

    }

}
