.navbar {
    display: flex;
    align-items: center;  
    justify-content: space-between;
    padding : 20px 20px;
    border-bottom: 2px solid rgb(217, 237, 231);
    box-shadow: 0px 0px 10px 2px white;

    .nav-link {
        color: white;
        text-decoration: none; 
    }
    
    img {
      max-width: 250px;
      
    }
  
    ul {
      display: flex;
      gap : 40px;
      list-style: none;
    }
    .nav-right {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
  
      select {
        padding: 5px 5px;
        border-radius: 6px;
        border: 2px solid white;
        background: transparent;
        color: white;
      }
    
      option {
        background: rgb(72, 200, 160);
        color: white;
      } 
  
      button {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 15px;
        font-weight: 500;
        color: black;
        background: white;
        border: none;
        cursor: pointer;
      } 
      .login-btn {
        background-color: rgb(65, 211, 165);
        }
    }
  }



@media (max-width: 800px){
    .navbar {
        padding: 20px 1px;
        .nav-list{
            display: none;
        }
    }
    .login-btn {
        background-color: black;
    }
}

@media (max-width: 480px){
    .navbar {
        padding: 10px 5px;
    
        img {
            width: 180px;
        }
        .nav-list{
            display: none;
        }
        .nav-right button {
            gap: 5px;
            padding: 7px 12px;
        }
    }

}

